<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to YMUNI, <%= @user.first_name %></h1>
    <p>
      You have successfully created your Yale Model United Nations Institute account.
      Your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To begin working on your application, just click <%= link_to 'here', edit_applicant_app_url(@user, @app) %>!
    </p>
    <p>
      To login to the site, just click <%= link_to 'here', login_url %>.
    </p>
    <p>Thanks for joining and good luck on your application!</p>
  </body>
</html>