<% if @recommender.errors.any? %>
  <!--<div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@recommender.errors.count, "error") %>.
    </div>
    <ul>
    <% @recommender.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>-->
  <div id="error_explanation" class="alert alert-danger">
      The form contains <%= pluralize(@recommender.errors.count, "error") %>:
      <ul>
      <% @recommender.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
<% end %>