<div class="row" id="grad">
  	<div class="col-md-10 col-md-offset-1">
	    <!--<h1 class="text-center">Our Vision</h1><br>-->
		
		<div class="jumbotron">
			<h1 class="text-center">Frequently asked application questions</h1><br>

			<h2>How do I submit the application?</h2>
			<p>Originally, this was to be done automatically on the day of the deadline. Now, there is a "submit" button at the end of the application.</p>

			<h2>What do I do if I want to enter a test score other than the ones listed in Part 5?</h2>
			<p>Please list it in the "Additional Comments" section. Additionally, if you do not have a score for one of the listed tests, simply enter nothing in the field. The same goes for the GPA field.</p>

			<h2>The application does not allow me to enter my GPA.</h2>
			<p>You must enter a GPA of 4.0 or below, as we are evaluating unweighted GPA. If you truly feel inclined to list your weighted GPA, please do so in the "Additional Comments" section.</p>

			<h1 class="text-center">Other important application notes</h1><br>

			<h2>Click the "Save changes" button!</h2>
			<p>This must be done before navigating to another page in order to save your changes successfully.</p>

			<h2>Other Questions or Concerns?</h2>
			<p>Please email <%= mail_to "tech.ymuni@yira.org" %> regarding an application-specific questions.</p><br>
			
			<p>Finally, thank you all for your patience as we work the bugs out of our site! We sincerely look forward to reading your applications.</p>
		</div>
  	</div>
</div>