<div class="row" id="grad">
  	<div class="col-md-10 col-md-offset-1">
	    <!--<h1 class="text-center">Our Vision</h1><br>-->

		<div class="jumbotron">
			<h1 class="text-center">Application Instructions</h1><br>

			<p>Admission to YMUNI 2015 requires submission of an online application. As of July 9, 2015: We are currently accepting applications to fill remaining spots in our program. Applications are being reviewed on a first-come, first-serve basis. Please complete your online application and email <%= mail_to "ymuni@yira.org" %> about the status of your application.</p>

			<p>The application is composed of four parts: Basic Information, Essays, 1 Letter of Recommendation, and Scores. YMUNI maintains a holistic approach to admissions. We want to know who you are, where you come from, and what you will be able to contribute to the YMUNI community.</p>

			<p>High school students who will be entering the 10th-12th grades (between the ages of 14-17) the fall of 2015 are eligible to apply. The application is open to domestic and international students.</p>

			<p>YMUNI is looking for students who are passionate about learning about the world around them and who are eager to seek their highest potential as students, scholars, and leaders.</p>

			<p>We look forward to reading your application!</p>

			<p>Questions? Email <%= mail_to "ymuni@yira.org" %>.</p>

			<br>

			<ol>
				<h2><li>Create a YMUNI 2015 account <%= link_to "here", signup_path %></li></h2>
				<h2><li>By creating an account, you will be able to save and return to your application.</li></h2>
				<h2><li>All applications will be submitted online.</li></h2>
				<h2><li>Once you have submitted your application, your online status should come up as “Completed.” You will also receive a confirmation email once your application has been received.</li></h2>
			</ol>

			<br>
			*Admission or rejection to YMUNI is by no means a reflection of admissions to Yale College. YMUNI operates as a constituent program of the Yale International Relations Association (YIRA), a registered student organization and 501(c) 3 non-profit.
		</div>
  	</div>
</div>
