<div class="row" id="grad">
  	<div class="col-md-8 col-md-offset-2">
	    <!--<h1 class="text-center">Our Vision</h1><br>-->
		
		<div class="jumbotron">
			<h1 class="text-center">Our Curriculum</h1><br>

			<h2 class="text-center">International Relations</h2>
			<h2 class="text-center">Model United Nations committee sessions</h2>
			<h2 class="text-center">College panels</h2>
			<h2 class="text-center">Trip to the United Nations</h2>
			<h2 class="text-center">Interaction with Yale Professors and Resources</h2>
			<h2 class="text-center">Tour of Yale</h2><br><br>
			<h2 class="text-center">More information about our curriculum will be coming soon!</h2>
		</div>
  	</div>
</div>