<div class="row">
  	<div class="col-md-8 col-md-offset-2">
	    <!--<h1 class="text-center">Our Vision</h1><br>-->
		
		<div class="jumbotron">
			<h1 class="text-center">Our Curriculum</h1><br>

			<h2 class="text-center">International Relations</h2>
			<h2 class="text-center">Model United Nations</h2>
			<h2 class="text-center">College Panel</h2>
			<h2 class="text-center">Trip to the United Nations</h2>
			<h2 class="text-center">Interaction with Yale Professors and Resources</h2>
		</div>
  	</div>
</div>