<div class="row" id="grad">
  	<div class="col-md-10 col-md-offset-1">
	    <!--<h1 class="text-center">Our Vision</h1><br>-->
		
		<div class="jumbotron">
			<h1 class="text-center">Our Curriculum</h1><br>

			<h2 class="text-center">International Relations</h2>
			<h2 class="text-center">Model United Nations committee sessions</h2>
			<h2 class="text-center">College panels</h2>
			<h2 class="text-center">Trip to the United Nations</h2>
			<h2 class="text-center">Interaction with Yale Professors and Resources</h2>
			<h2 class="text-center">Tour of Yale</h2><br><br>
			<p>At YMUNI, students will learn about three main things: international relations, leadership, and Model UN. Students will engage with renowned Yale professors lecture on IR theory and with Yale students through discussions about topics in international development and security, from ISIS to climate change to globalization. Participants will also work with Yale students to develop and refine public speaking, argumentative writing, and research skills, as well as learn about and discuss ways to improve self-image and confidence within and beyond MUN. In addition, students will participate in two mock MUN committees, where they will practice their skills and ideas and receive individualized feedback. Participants will also get to explore Yale and New Haven through various activities and tours, learn about applying to college, visit the UN in New York City, and socialize with similar students from across the country. All classes, committee sessions, workshops, and social events will be planned and led by Yale students, the YMUNI team, for the enjoyment and education of the participants.</p>
		</div>
  	</div>
</div>