<div class="row" id="grad">
  	<div class="col-md-10 col-md-offset-1">
	    <!--<h1 class="text-center">Our Vision</h1><br>-->
		
		<div class="jumbotron">
			<h1 class="text-center">Important Dates and Deadlines</h1><br>

			<div class="row">
				<div class="col-md-4">
					<h2>January 21:</h2>
					<h2>March 29:</h2>
					<h2>TBA:</h2>
					<h2>May 1:</h2>
					<h2>August 2-8:</h2>
				</div>

				<div class="col-md-8">
					<h2>Application opens</h2>
					<h2>Application deadline</h2>
					<h2>Admissions decisions released</h2>
					<h2>Confirmation of participation in YMUNI 2015</h2>
					<h2>YMUNI 2015!</h2>
				</div>
			</div>
		</div>
  	</div>
</div>