<div class="row" id="grad">
  	<div class="col-md-8 col-md-offset-2">
	    <!--<h1 class="text-center">Our Vision</h1><br>-->
		
		<div class="jumbotron">
			<h1 class="text-center">Frequently asked questions</h1><br>

			<h2>How much will it cost to attend the program?</h2>
			<p>The cost of the program will be $1500. All program participants will be living on Yale’s campus in one of the residential colleges for the entirety of the program. Program tuition will cover housing, meals, program expenses and materials, and a trip to New York during the program. More information about paying for the program will be released once students are admitted.</p>

			<h2>Is there an application fee?</h2>
			<p>No, there is no fee to apply to YMUNI.</p>

			<h2>Is there financial aid available?</h2>
			<p>Yes. YMUNI  all applicants are invited to apply for financial aid. More information can be found here (link to financial aid page).</p>

			<h2>Who is eligible to apply?</h2>
			<p>High school students, domestically and internationally, are eligible to apply for YMUNI. High school students who will be entering the 10th-12th grades (between the ages of 14-17) the fall of 2015 are eligible to apply.</p>

			<h2>Is MUN experienced required?</h2>
			<p>MUN experience is not required for admission to the program. However, if you do have Model UN experience, please do elaborate where applicable in the online application.</p>
			
			<p>If you do not have Model UN experience, please write about why you want to learn more about MUN through YMUNI. You may also talk about similar extracurriculars activities to MUN.</p>
		</div>
  	</div>
</div>