<div class="row" id="grad">
  	<div class="col-md-8 col-md-offset-2">
	    <!--<h1 class="text-center">Our Vision</h1><br>-->
		
		<div class="jumbotron">
			<h1 class="text-center">Frequently asked questions</h1><br>

			<h2>How much will it cost to attend the program?</h2>
			<p>The cost of the program will be 1500…., which will include meals and housing. All program participants will be living on Yale’s campus in one of the residential colleges. Program tuition will cover housing, meals, program expenses and…</p>

			<h2>Is there financial aid available?</h2>
			<p>Yes, all applicants are invited to apply for financial aid. More information can be found here (link to financial aid page). </p>

			<h2>Who is eligible to apply?</h2>
			<p>High school students, domestically and internationally, are eligible to apply for YMUNI.</p>

			<h2>Is MUN experienced required?</h2>
			<p>No, but strongly preferred.</p>
			
			<h2>How does YMUNI compare to other summer programs?</h2>
		</div>
  	</div>
</div>