<div class="row" id="grad">
  	<div class="col-md-10 col-md-offset-1">
	    <!--<h1 class="text-center">Our Vision</h1><br>-->
		
		<div class="jumbotron">
			<h1 class="text-center">Financial Aid</h1><br>
			<p>Financial Aid: Partial financial aid offered on a case by case basis. Please follow the financial aid application, and be sure to submit any supplemental information in the text box to explain your financial situation. At YMUNI we strive to provide access to our program for all of the students who are accepted, and urge students to seek out external scholarships after they receive their admissions decision.</p>
		</div>
  	</div>
</div>