<div class="row" id="grad">
  	<div class="col-md-10 col-md-offset-1">
	    <!--<h1 class="text-center">Our Vision</h1><br>-->
		
		<div class="jumbotron">
			<h1 class="text-center">Teach for YMUNI!</h1><br>

			<p>Teach for YIRA’s newest constituent program! Make an impact on the lives of thirty high school students from around the world by joining the YMUNI Team. The Yale Model United Nations Institute (YMUNI) is currently looking for Teachers for its program this August 2-8, 2015. YMUNI Teachers will mentor program participants, share their passion for Yale, international relations and Model United Nations, and design and execute program curriculum.</p>

			<p class="thick-italic">The YMUNI Teacher position is a paid position. Housing and meals are all covered, and teachers will receive a $300 stipend upon completion of the program.</p>
			<p class="thick">The application can be found <%= link_to "here", "https://docs.google.com/forms/d/1h7rOQ0oy9F0nXfknn_56V300qUqyd-CqAJrBjQ3pDt8/viewform" %>.</p>

			<p class="thick-italic">Applications are due by this Friday, February 20.</p><br>
			
			<h2 class="thick">OPEN POSITIONS</h2>
			<h2 class="thick">1) Director of Conference and Delegate Affairs</h2>
			<p>The YMUNI Director of Delegate Affairs, who must be over the age of 21, will be responsible for delegate conduct and supervision. The Director of Delegate Affairs will create and review program policies and procedures. The Director should have previous teaching and MUN experience, and background in conference organizing would be highly preferred. Previous experience building a YIRA constituent program is a plus. The Director of Conference and Delegate Affairs will receive a $500 stipend upon completion of the program.</p>

			<h2 class="thick">2) Director of Curriculum</h2>
			<p>The YMUNI Director of Curriculum and Delegate Activities will oversee the educational aspect of YMUNI and will be responsible for developing program curriculum. The program is currently slated to have workshops, guest lectures, and practice committee sessions, but the Director will also have the opportunity to introduce new and useful delegate activities to enhance the YMUNI vision. The Director will also help define the educational atmosphere of YMUNI. Prior teaching experience (in and out of the context of MUN), as well as MUN experience is highly preferred. The Director of Curriculum and Delegate Activities will organize and run Instructor trainings in the Spring semester. A passion for teaching and a commitment to education are vital for this position. The Director of Curriculum and Delegate Activities will have the opportunity to help expand YIRA’s educational impact. The Director of Curriculum will receive a $500 stipend upon completion of the program.</p><br>
			
			<p>If you are interested in applying for these positions, send an email expressing your interest to Executive Director Hannah Gonzales at <%= mail_to "ymuni@yira.org" %>.</p>
		</div>
  	</div>
</div>