<div class="row" id="grad">
  	<div class="col-md-10 col-md-offset-1">
	    <div class="jumbotron">
			<h1 class="text-center">Meet our team</h1><br>

			<h3>Executive Director, Hannah Gonzales</h3>
		    <div class="row">
		    	<div class="col-md-6">
		    		<%= image_tag 'hannah.jpg' %>
		    	</div>

		    	<div class="col-md-6">
		    		<p>Hannah Gonzales is a junior in Calhoun College majoring in History. Hannah began her Model United Nations career in high school and has pursued it ever since. Hannah is a member of the Model United Nations Team at Yale, chairs for YIRA’s conferences at home and abroad, and most of all, enjoys teaching high school students about the world and Model United Nations. She also had the opportunity work for Best Delegate as a Summer Programs Counselor during the summer of 2013. Hannah is both excited and honored to be leading YMUNI 2015. She looks forward to sharing her vision with others and to building a community based on the educational values of Model United Nations.</p>
		    	</div>
		    </div>

		    <h3>Director of Culture, Jake Colavolpe</h3>
		    <div class="row">
		    	<div class="col-md-6">
		    		<%= image_tag 'IMG_7522.jpg' %>
		    	</div>

		    	<div class="col-md-6">
		    		<p>Jake Colavolpe is a freshman in Morse College intending to double major in WGSS and Sociology. Jake began his involvement with MUN in high school, through YIRA’s Hemipheres program. He loves teaching, being both an instructor for Hemispheres and the head debate coach for Wilbur Cross High School in New Haven. Jake is thrilled to be the Director of Culture of this year’s YMUNI. He looks forward to helping to reshape MUN life and cutlure through YMUNI 2015!</p>
		    	</div>
		    </div>

		    <h3>KJ Ong, Director of Conference & Delegate Affairs</h3>
		    <div class="row">
		    	<div class="col-md-6">
		    		<%= image_tag 'IMG_7513.jpg' %>
		    	</div>

		    	<div class="col-md-6">
		    		<p>KJ Ong is a Malaysian sophomore in Berkeley College majoring in History. His academic interests are democracy movements against authoritarian states, ethnic conflict & genocide, and digital humanities. Prior to coming to Yale, KJ took a gap year in his home country, working for a think tank, a political party, a human rights lawyers organization, and a coalition of democracy activists. At Yale, KJ was the Director General of Committees for Yale Model United Nations XLI, the Community Secretary of the Liberal Party of the Yale Political Union, and the Outreach Director of the Yale Gamers Club. He is deeply passionate about connecting real world issues to everyday classroom experiences, and is extremely excited to see all of you at YMUNI! </p>
		    	</div>
		    </div>

		    <h3>Miranda Melcher, Director of Curriculum</h3>
		    <div class="row">
		    	<div class="col-md-6">
		    		<%= image_tag 'IMG_7518.jpg' %>
		    	</div>

		    	<div class="col-md-6">
		    		<p>Miranda Melcher is a rising senior in Branford College at Yale University and is this year’s Director of Curriculum for YMUNI. Miranda is a political science major, studying on civil wars in the Middle East and Africa. Miranda grew up as an expat in Beijing, China, where she attended international school and many MUN conferences. Outside of YMUNI, Miranda is involved with YMUN, YMUN Korea, Hemispheres, Jewish life at Yale, and a member of the Yale Political Union. Miranda sees YMUNI as a great opportunity to work with exceptional high school students and way to give back her years of IR and MUN knowledge. Please do not hesitate to reach out to Miranda with any questions at teach.ymuni@yira.org.</p>
		    	</div>
		    </div>
		</div>
  	</div>
</div>