<div class="row" id="grad">
  	<div class="col-md-8 col-md-offset-2">
	    <h1 class="text-center">Meet our team</h1><br>

	    <h2>Executive Director, Hannah Gonzales</h2>

	    <div class="row">
	    	<div class="col-md-6">
	    		(pic of Hannah)
	    	</div>

	    	<div class="col-md-6">
	    		<p>Hannah Gonzales is a junior in Calhoun College majoring in History. Hannah began her Model United Nations career in high school, and has pursued it ever since. Hannah is a member of the Model United Nations Team at Yale, chairs for YIRA’s conferences at home and abroad, and most of all, enjoys teaching high school students about the world and Model United Nations. She also had the opportunity work for Best Delegate as a Summer Programs Counselor during the summer of 2013. Hannah is both excited and honored to be leading YMUNI 2015. She looks forward to sharing her vision with others and to building a community based on the educational values of Model United Nations.</p>
	    	</div>
	    </div>

	    <h2>Director of Culture, Jake Colavolpe</h2>

	    <div class="row">
	    	<div class="col-md-6">
	    		(pic of Jake)
	    	</div>

	    	<div class="col-md-6">
	    		<p>Jake's bio</p>
	    	</div>
	    </div>
		
		<!--<div class="jumbotron">
			<h1 class="text-center">Our Curriculum</h1><br>

			<h2 class="text-center">International Relations</h2>
			<h2 class="text-center">Model United Nations</h2>
			<h2 class="text-center">College Panel</h2>
			<h2 class="text-center">Trip to the United Nations</h2>
			<h2 class="text-center">Interaction with Yale Professors and Resources</h2>
		</div>-->
  	</div>
</div>