<div class="row" id="grad">
  	<div class="col-md-8 col-md-offset-2">
	    <!--<h1 class="text-center">Our Vision</h1><br>-->
		
		<div class="jumbotron">
			<h1 class="text-center">Our Vision</h1>

			<p>The Yale Model United Nations Institute, or YMUNI, is a one-week long residential summer program for high school students about leadership, international relations, and Model United Nations run by Yale students. Through YMUNI, program participants will learn more about the world, themselves, YIRA, and the amazing resources Yale has to offer.</p>

			<p>YMUNI participants will leave the program with:</p> 

			<p>
				<ul>
					<li>a better understanding of international relations and global affairs</li>
					<li>refined MUN skills, such as public speaking, research, writing and debate</li>
					<li>the experience of living in one of Yale’s residential colleges</li>
					<li>new friendships</li>
					<li>exposure to Yale professors and resources</li>
					<li>the opportunity to learn and to connect with some of Yale’s best and brightest students</li>
				</ul>
			</p>

			<p>YMUNI 2015 will be held at Yale University from August 2-8, 2015.</p>

			<p>YMUNI is operated as a constituent program of the Yale International Relations Association (YIRA). 
				YIRA is one of Yale’s largest student organizations, with 501c3 non-profit status. More information about YIRA can be found here.</p>

			<p>Apply today and join us for what will be an incredible week at Yale, YMUNI 2015.</p>
		</div>
  	</div>
</div>