<% provide(:title, "YMUNI Application") %>

<div class="row" id="grad">
    <div class="col-md-8 col-md-offset-2">
        <h1 id="white-text">Application Status</h1>

        <div class="jumbotron">
            <h2>Your application has been submitted and is now under review.</h2><br><br>

            <p>After all applications have been reviewed, your decision will be posted here.</p>

            <p>You will get an email notification when this happens.</p>

            <p>Thanks!</p>
        </div>
  </div>
</div>